block latestBlocks

mixin blog(blogClass, dirToImg, professionText, blogSubtitle, blogDescription, blogDescriptionClass)
    .blog(class=blogClass)
                img(class='blog__img' src='placeholder.jpg' data-src=dirToImg)
                .profession
                    span.profession__text= professionText

                h3.subtitle.blog__subtitle= blogSubtitle

                if (blogDescription)
                each i in blogDescription
                    p.i(class = blogDescriptionClass) !{i}

                button(class='btn btn__readMore popup-trigger') Read more

.latestBlocks
    .wrapper
        h2.title.latestBlocks__title latest blocks
        div.latestBlocks__content
            span.latestBlocks__description
                |Dignissimos ducimus qui blanditiis praesentium 
                |voluptatum deleniti #[br] atque corrupti quos dolores et quas molestias.
                //- вот таким образом вставляется большой текст для удобства 
            button(class='btn popup-trigger') View all posts

        .row.latestBlocks__row
            +blog('blog1', 'assets/img/7latestblogs/webp/blog_1.webp', 
            'Design system', 'How many participants for a ux interview',
            ['Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed <br/> quia consequuntur magni dolores eos.']
            )

            +blog('blog2', 'assets/img/7latestblogs/webp/blog_2.webp', 
            'Development', 'How many participants for a ux interview',
            ['Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed <br/> quia consequuntur magni dolores eos.']
            )